apiVersion: machineconfiguration.openshift.io/v1
kind: MachineConfig
metadata:
  name: "{{ item }}-chrony-configuration"
  labels:
    machineconfiguration.openshift.io/role: {{ item }}
spec:
  config:
    ignition:
      config: {}
      security:
        tls: {}
      timeouts: {}
      version: 2.2.0
    storage:
      files:
      - contents:
        filesystem: root
        mode: 420
        overwrite: true
        path: /etc/chrony.conf
